<div ng-show="$ctrl.options.theme === 'material'"
  ng-click="$ctrl.options.help && $ctrl.onMaterialClick($event)"
  ng-mouseleave="$ctrl.helpToggle.onMouseLeaveContent()">
  <md-input-container style="width: 100%">
    <label ng-if="$ctrl.options.label !== undefined"
      for="{{$ctrl.options.name}}">
      <span class="br-form-control-label">{{$ctrl.options.label}}</span>
    </label>
    <span class="br-form-control-wrapper"
      ng-transclude="br-form-control-content"></span>
    <div ng-if="$ctrl.options.help && $ctrl.helpToggle.helpVisible"
      class="help-block br-fadein br-fadeout">
      <div class="text-muted" ng-transclude="br-form-control-help"></div>
    </div>
    <div ng-if="$ctrl.validation.isVisible()">
      <div class="br-form-control-validation-errors"
        ng-transclude="br-form-control-validation-errors"></div>
    </div>
  </md-input-container>
</div>
<div ng-if="$ctrl.options.theme !== 'material'" ng-class="{
  'form-group': !$ctrl.options.inline,
  'form-group-inline': $ctrl.options.inline,
  'has-error': $ctrl.validation.isVisible()}"
  br-property-path="{{$ctrl.options.name}}"
  class="{{($ctrl.options.inline && $ctrl.options.classes.content) || ''}}"
  ng-style="{display: ($ctrl.options.inline ? 'inline-' : '') + 'block'}">
  <label ng-if="$ctrl.options.label !== undefined"
    class="{{$ctrl.options.classes.label}} control-label"
    for="{{$ctrl.options.name}}"
    ng-click="$ctrl.options.help &&
      ($ctrl.options.helpTogglePosition === 'label' ||
        $ctrl.options.helpTogglePosition === 'afterLabel') &&
      $ctrl.helpToggle.onClick($event)"
    ng-mouseenter="$ctrl.onMouseEnterContent()"
    ng-mouseleave="$ctrl.onMouseLeaveContent()">
    <span style="white-space: nowrap">
      <a ng-if="$ctrl.options.help && $ctrl.options.helpTogglePosition === 'label'"
        ng-class="{
          'br-help-toggle-invisible': !($ctrl.helpToggle.visible ||
            $ctrl.showHelpToggle),
          active: $ctrl.helpToggle.pressed
        }"
        ng-style="{
          visibility: (($ctrl.helpToggle.visible ||
            $ctrl.showHelpToggle) && 'visible') || 'hidden'
        }"
        ng-mouseenter="$ctrl.helpToggle.onMouseEnter($event)"
        ng-mouseleave="$ctrl.helpToggle.onMouseLeave($event)"
        tabindex="-1"><i class="fa fa-question-circle"></i></a>
      <span ng-bind-html="$ctrl.firstLabelWord"></span>
    </span>
    <span ng-bind-html="$ctrl.restLabelWords"></span>
    <a ng-if="$ctrl.options.help && $ctrl.options.helpTogglePosition === 'afterLabel'"
      ng-class="{
        'br-help-toggle-invisible': !($ctrl.helpToggle.visible ||
          $ctrl.showHelpToggle),
        active: $ctrl.helpToggle.pressed
      }"
      ng-style="{
        visibility: (($ctrl.helpToggle.visible ||
          $ctrl.showHelpToggle) && 'visible') || 'hidden'
      }"
      ng-mouseenter="$ctrl.helpToggle.onMouseEnter($event)"
      ng-mouseleave="$ctrl.helpToggle.onMouseLeave($event)"
      tabindex="-1"> <i class="fa fa-question-circle"></i></a>
  </label>
  <div class="input-group
    {{(!$ctrl.options.inline && $ctrl.options.classes.content) || ''}}"
    ng-class="{
      'input-group-inline': ($ctrl.options.inline &&
      $ctrl.options.classes.content)}">
    <span ng-if="$ctrl.options.icon"
      class="input-group-addon"><i
      class="fa {{$ctrl.options.icon}}"></i></span>
    <span ng-if="$ctrl.options.image"
      class="input-group-addon"><img
      ng-src="{{$ctrl.options.image}}"></span>
    <span class="br-form-control-wrapper"
      ng-class="{
        'br-help-toggle-present': ($ctrl.options.help && !$ctrl.options.inline &&
          $ctrl.options.helpTogglePosition === 'content'),
        'br-help-toggle-visible': ($ctrl.options.helpTogglePosition === 'content' &&
          ($ctrl.helpToggle.visible || $ctrl.showHelpToggle)),
      }"
      ng-mouseenter="$ctrl.onMouseEnterContent()"
      ng-mouseleave="$ctrl.onMouseLeaveContent()"
      ng-transclude="br-form-control-content"></span>
    <span ng-if="$ctrl.options.help && $ctrl.options.helpTogglePosition === 'content'"
      class="input-group-btn br-help-toggle
        {{$ctrl.options.classes.helpToggle}}">
      <button type="button" class="btn btn-default"
        ng-class="{
          'br-help-toggle-invisible': !($ctrl.helpToggle.visible ||
            $ctrl.showHelpToggle),
          active: $ctrl.helpToggle.pressed
        }"
        tabindex="-1"
        ng-click="$ctrl.helpToggle.onClick($event)"
        ng-mouseenter="$ctrl.helpToggle.onMouseEnter($event)"
        ng-mouseleave="$ctrl.helpToggle.onMouseLeave($event)">
        <i class="fa fa-question-circle"></i>
      </button>
    </span>
  </div>
  <div ng-if="$ctrl.options.help && $ctrl.helpToggle.visible &&
    $ctrl.helpToggle.helpVisible"
    class="{{$ctrl.options.classes.help}} help-block br-fadein br-fadeout">
    <div class="text-muted" ng-transclude="br-form-control-help"></div>
  </div>
  <div ng-if="$ctrl.validation.isVisible()"
    class="{{$ctrl.options.classes.validation}}">
    <p></p>
    <div class="br-form-control-validation-errors text-danger"
      ng-transclude="br-form-control-validation-errors"></div>
  </div>
</div>
