<!--
<pre>FIELD OPTIONS: {{ctrl.options|json}}</pre>
<pre>FIELD PROPERTY: {{ctrl.property|json}}</pre>
<pre>FIELD KEY: {{ctrl.key|json}}</pre>
<pre>FIELD VALUE: {{ctrl.value|json}}</pre>
<pre>FIELD SCHEMA: {{ctrl.schema|json}}</pre>
<pre>FIELD RANGE: {{ctrl.range|json}}</pre>
-->
<div ng-if="ctrl.options.editable">
  <div ng-switch="ctrl.range">
    <div ng-switch-when="URL">
      <br-select
        ng-if="(ctrl.property.optional && ctrl.rangeOptions.length > 0) ||
          ctrl.rangeOptions.length > 1"
        br-model="ctrl.selected"
        br-items="ctrl.rangeOptions" br-display-item="item.label"
        br-options="{
          icon: 'globe',
          name: '{{ctrl.key}}',
          label: '{{ctrl.schema.label}}'
        }">
        {{ctrl.schema.comment}}
      </br-select>
      <br-form ng-if="ctrl.selected.propertyGroup"
        br-model="ctrl.value[ctrl.key]"
        br-groups="[ctrl.selected.propertyGroup]"
        br-library="ctrl.library"
        br-path="ctrl.path"
        br-options="{editable: true, embedded: true}"></br-form>
      <br-input ng-if="!ctrl.property.optional && ctrl.rangeOptions <= 1 &&
        !ctrl.value[ctrl.key].id"
        br-model="ctrl.value[ctrl.key]"
        br-options="{
          icon: 'globe',
          name: '{{ctrl.key}}',
          label: '{{ctrl.schema.label}}',
          type: 'url',
          placeholder: 'Resource URL'
        }">
        {{ctrl.schema.comment}}
      </br-input>
      <br-input ng-if="!ctrl.property.optional && ctrl.rangeOptions <= 1 &&
        ctrl.value[ctrl.key].id"
        br-model="ctrl.value[ctrl.key].id"
        br-options="{
          icon: 'globe',
          name: '{{ctrl.key}}',
          label: '{{ctrl.schema.label}}',
          type: 'url',
          placeholder: 'Resource URL'
        }">
        {{ctrl.schema.comment}}
      </br-input>
      <!-- TODO: handle images via contentType image/* -->
    </div>
    <div ng-switch-when="String">
      <br-select
        ng-if="(ctrl.property.optional && ctrl.rangeOptions.length > 0) ||
          ctrl.rangeOptions.length > 1"
        br-model="ctrl.selected"
        br-items="ctrl.rangeOptions" br-display-item="item.label"
        br-options="{
          icon: 'pencil',
          name: '{{ctrl.key}}',
          label: '{{ctrl.schema.label}}'
        }">
        {{ctrl.schema.comment}}
      </br-select>
      <br-input
        ng-if="!ctrl.property.optional && ctrl.rangeOptions.length <= 1"
        br-model="ctrl.value[ctrl.key]"
        br-options="{
          icon: 'pencil',
          name: '{{ctrl.key}}',
          label: '{{ctrl.schema.label}}',
          type: 'text'
        }">
        {{ctrl.schema.comment}}
      </br-input>
    </div>
    <!-- TODO: textarea
    <div ng-switch-when="...">
      <br-textarea br-model="ctrl.value[ctrl.key]"
        br-options="{
          icon: 'comment',
          name: 'foo.bar',
          label: 'Comment',
          placeholder: 'Comment',
          rows: '3'
        }"></br-textarea>
    </div>
    -->
    <div ng-switch-when="Date">
      <br-select
        ng-if="(ctrl.property.optional && ctrl.rangeOptions.length > 0) ||
          ctrl.rangeOptions.length > 1"
        br-model="ctrl.selected"
        br-items="ctrl.rangeOptions" br-display-item="item.label"
        br-options="{
          name: '{{ctrl.key}}',
          label: '{{ctrl.schema.label}}'
        }">
        {{ctrl.schema.comment}}
      </br-select>
      <!-- Time here is (24*60*60*1000 - 1), 24 hours minus one millisecond. -->
      <br-datepicker
        ng-if="!ctrl.property.optional && ctrl.rangeOptions.length <= 1"
        br-model="ctrl.value[ctrl.key]['@value']"
        br-options="{
          name: '{{ctrl.key}}',
          label: '{{ctrl.schema.label}}',
          format: 'yyyy/MM/dd',
          time: 86399999,
          modelType: 'string',
          modelFormat: 'yyyy-MM-ddTHH:mm:ss\'Z\'',
          modelTimezone: 'UTC'
        }">
        {{ctrl.schema.comment}}
      </br-datepicker>
    </div>
    <div ng-switch-default>
      <label class="control-label col-sm-3">{{ctrl.schema.label}}</label>
      <p class="text-error">Unknown property type. Contact support.</p>
      <pre>PROPERTY: {{ctrl.property|json}}</pre>
      <pre>SCHEMA: {{ctrl.schema|json}}</pre>
    </div>
  </div>
        <!--
          <br-input br-model="ctrl.custom.label"
            br-options="{
              icon: 'tag',
              name: 'custom.{{$index}}.label',
              placeholder: 'Label',
              inline: true,
              columns: {input: 'col-sm-7'}
            }"></br-input>
          <div class="col-sm-1">
            <button type="button" class="btn btn-danger"
              ng-click="ctrl.custom.splice($index, 1)">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </div>
        <br-select br-model="ctrl.custom.type"
          br-items="ctrl.customTypes" br-display-item="item.label"
          br-options="{
            name: 'custom.{{$index}}.type', label: 'Type', key: 'id'
          }"></br-select>
        <br-input br-model="ctrl.custom.value"
          br-options="{
            icon: (ctrl.custom.type == 'url' && 'globe') || 'list',
            name: 'custom.{{$index}}.value',
            label: 'Value',
            type: (ctrl.custom.type == 'url' && 'url') || 'text',
            placeholder: 'Default {{(ctrl.custom.type == 'url' && 'URL') || 'Text'}}'
          }"></br-input>
        -->
</div>
<div ng-if="!ctrl.options.editable && ctrl.value[ctrl.key]">
  <!-- FIXME: add schema.comment as help text -->
  <dt ng-class="{collapsed: ctrl.schema.collapsed || ctrl.path[ctrl.path.length-1].property.hideHierarchy}"><span title="{{ctrl.schema.label || ctrl.schema.id}}">{{ctrl.schema.label || ctrl.schema.id}}</span></dt>
  <dd ng-class="{collapsed: ctrl.schema.collapsed || ctrl.path[ctrl.path.length-1].property.hideHierarchy}">
    <ul class="list-unstyled">
      <!-- FIXME: repeat over array -->
      <li ng-switch="ctrl.range">
        <div ng-switch-when="URL">
          <div ng-if="ctrl.propertyGroups.length > 0">
            <br-form br-model="ctrl.value[ctrl.key]"
              br-groups="ctrl.propertyGroups"
              br-library="ctrl.library"
              br-path="ctrl.path"
              br-options="{editable: false, embedded: true}"></br-form>
          </div>
          <div ng-if="ctrl.propertyGroups.length === 0">
            <!-- image -->
            <div ng-if="!ctrl.selected.propertyGroup &&
              ctrl.schema.contentType.indexOf('image/') === 0">
              <!-- no-id image -->
              <div ng-if="!ctrl.value[ctrl.key].id">
                <img ng-src="{{ctrl.value[ctrl.key]}}" />
              </div>
              <!-- id image -->
              <div ng-if="ctrl.value[ctrl.key].id">
                <img ng-src="{{ctrl.value[ctrl.key].id}}" />
              </div>
            </div>
            <!-- non-object resource -->
            <div ng-if="!ctrl.selected.propertyGroup &&
              ctrl.schema.contentType.indexOf('image/') !== 0 &&
              !ctrl.value[ctrl.key].id">
              <!-- FIXME: lookup display data -->
              <a ng-if="ctrl.value[ctrl.key].indexOf('http') === 0"
                href="{{ctrl.value[ctrl.key]}}">{{ctrl.value[ctrl.key]}}</a>
              <span ng-if="ctrl.value[ctrl.key].indexOf('http') !== 0">{{ctrl.value[ctrl.key]}}</a>
            </div>
            <!-- object resource -->
            <div ng-if="!ctrl.selected.propertyGroup &&
              ctrl.schema.contentType.indexOf('image/') !== 0 &&
              ctrl.value[ctrl.key].id">
              <!-- FIXME: lookup display data if needed -->
              <a ng-if="ctrl.value[ctrl.key].id.indexOf('http') === 0"
                href="{{ctrl.value[ctrl.key].id}}">{{ctrl.value[ctrl.key].label || ctrl.valueSchema.label || ctrl.value[ctrl.key].id}}</a>
              <span ng-if="ctrl.value[ctrl.key].id.indexOf('http') !== 0" title="{{ctrl.value[ctrl.key].id}}">{{ctrl.value[ctrl.key].label || ctrl.valueSchema.label || ctrl.value[ctrl.key].id}}</a>
            </div>
            <!-- group, try to display something -->
            <div ng-if="ctrl.selected.propertyGroup">
              {{ctrl.value[ctrl.key].label || ctrl.value[ctrl.key].id || ctrl.value[ctrl.key].type}}
            </div>
          </div>
        </div>
        <div ng-switch-when="String">
          <div ng-switch="ctrl.schema.displayType">
            <pre ng-switch-when="pre">{{ctrl.value[ctrl.key]}}</pre>
            <span ng-switch-default>{{ctrl.value[ctrl.key]}}</span>
          </div>
        </div>
        <!-- TODO: textarea
        <div ng-switch-when="...">
          <p>{{ctrl.value[ctrl.key]}}</p>
        </div>
        -->
        <div ng-switch-when="Date">
          <span title="{{ctrl.value[ctrl.key]['@value'] | date:'medium'}}">{{ctrl.value[ctrl.key]['@value'] | date:'medium'}}</span>
        </div>
        <div ng-switch-default>
          <p class="text-error">Unknown property type. Contact support.</p>
          <pre>PROPERTY: {{ctrl.property|json}}</pre>
          <pre>SCHEMA: {{ctrl.schema|json}}</pre>
        </div>
      </li>
    </ul>
  </dd>
</div>
<div ng-if="!ctrl.options.editable && ctrl.selected.propertyGroup">
  <br-form
    br-model="ctrl.value[ctrl.key]"
    br-groups="[ctrl.selected.propertyGroup]"
    br-library="ctrl.library"
    br-path="ctrl.path"
    br-options="{
      editable: false,
      embedded: true
    }"></br-form>
</div>
