<div ng-class="{
  'form-group': !ctrl.options.inline,
  'form-group-inline': ctrl.options.inline}"
  br-property-path="{{ctrl.options.name}}"
  class="{{(ctrl.options.inline && ctrl.options.columns.content) || ''}}"
  ng-style="{display: (ctrl.options.inline ? 'inline-' : '') + 'block'}">
  <label ng-if="ctrl.options.label !== undefined"
    class="{{ctrl.options.columns.label}} control-label"
    for="{{ctrl.options.name}}"
    br-track-state="ctrl.help"
    ng-click="ctrl.help.help.pressed=!ctrl.help.help.pressed;
      ctrl.help.show=!ctrl.help.show">
    <a ng-if="ctrl.options.help" br-help-toggle="ctrl.help"><i
      class="fa fa-question-circle"></i></a>
    <span ng-bind-html="ctrl.options.label"></span>
  </label>
  <div class="input-group {{(!ctrl.options.inline && ctrl.options.columns.input) || ''}}"
    ng-class="{
      'input-group-inline': (ctrl.options.inline && ctrl.options.columns.input)}">
    <p class="form-control-static" ng-transclude="br-form-static-content"></p>
  </div>
  <div ng-if="ctrl.options.help && ctrl.help.show"
    class="{{ctrl.options.columns.help}} help-block br-fadein br-fadeout">
    <div class="text-muted" ng-transclude="br-form-static-help"></div>
  </div>
</div>
