<br-form-control br-options="{{brInputCtrl.options|json}}"
  br-form-control-show-help-toggle="brInputCtrl.showHelpToggle"
  br-form-control-on-help-toggle-show="brInputCtrl.helpToggleVisible=true"
  br-form-control-on-help-toggle-hide="brInputCtrl.helpToggleVisible=false">
  <br-form-control-content>
    <input class="form-control
      br-form-control-content {{brInputCtrl.options.class}}"
      name="{{brInputCtrl.options.name}}"
      placeholder="{{brInputCtrl.options.placeholder}}"
      ng-disabled="brInputCtrl.options.disabled"
      ng-readonly="brInputCtrl.options.readonly"
      ng-focus="brInputCtrl.showToggle()"
      ng-blur="brInputCtrl.scheduleHideToggle()"
      ng-mouseenter="brInputCtrl.showToggle()"
      ng-mouseleave="brInputCtrl.scheduleHideToggle()" />
    <span ng-if="brInputCtrl.options.loading"
      class="br-spinner-inside-input">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
  </br-form-control-content>
  <br-form-control-help ng-if="brInputCtrl.options.help">
    <div ng-transclude></div>
    <div ng-transclude="br-input-help"></div>
  </br-form-control-help>
  <br-form-control-validation-errors ng-if="brInputCtrl.options.showValidation">
    <div ng-transclude="br-input-validation-errors"></div>
  </br-form-control-validation-errors>
</br-form-control>
