<br-form-control br-options="{{brInputCtrl.options|json}}">
  <br-form-control-content>
    <input class="form-control
      br-form-control-content {{brInputCtrl.options.class}}"
      name="{{brInputCtrl.options.name}}"
      placeholder="{{brInputCtrl.options.placeholder}}"
      ng-disabled="brInputCtrl.options.disabled"
      ng-readonly="brInputCtrl.options.readonly"
      br-input-manipulator />
    <span ng-if="brInputCtrl.options.loading"
      class="br-spinner-inside-input">
      <i class="fa fa-refresh fa-spin text-muted"></i>
    </span>
  </br-form-control-content>
  <br-form-control-help ng-if="brInputCtrl.options.help">
    <div ng-transclude></div>
    <div ng-transclude="br-input-help"></div>
  </br-form-control-help>
  <br-form-control-validation-errors ng-if="brInputCtrl.options.showValidation">
    <!-- FIXME Validation errors may display weirdly for inline inputs. -->
    <div ng-transclude="br-input-validation-errors">
      An error was detected in the input above.
    </div>
  </br-form-control-validation-errors>
</br-form-control>
