<div ng-class="{'form-group': !options.inline}"
  br-property-path="{{options.name}}">
  <label ng-if="!options.inline && options.label !== undefined"
    class="{{options.columns.label}} control-label"
    for="{{options.name}}">
    <span ng-bind-html="options.label"></span></label>
  <div class="{{options.columns.select}}"
    ng-class="{
      'input-group': !options.inline,
      'input-group-inline': options.inline}">
    <span ng-if="options.icon"
      class="input-group-addon"><i
      class="fa {{options.icon}}"></i></span>
    <span ng-if="options.image"
      class="input-group-addon"><img
      ng-src="{{options.image}}"></img></span>
    <div class="br-select" br-track-state="help"
      ng-class="{'br-help-off': options.inline}"
      br-tooltip="{{options.tooltip.text}}"
      br-options="options.tooltip">
      <ui-select ng-model="selection.selected"
        theme="bootstrap" ng-disabled="options.disabled">
        <ui-select-match placeholder="{{options.placeholder}}">{{$select.selected.display}}</ui-select-match>
        <ui-select-choices
          br-lazy-compile="$select.open"
          br-lazy-compile-id="br-select-ui-select-choices"
          repeat="item in viewItems | filter: $select.search">
          <div ng-bind-html="item.display | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <span ng-if="!options.inline" class="input-group-btn">
      <button type="button" class="btn btn-default"
        br-help-toggle="help">
        <i class="fa fa-question-circle"></i>
      </button>
    </span>
  </div>
  <div ng-if="!options.inline && help.show"
    class="{{options.columns.help}} help-block br-fadein br-fadeout">
    <div ng-transclude></div>
  </div>
</div>
