<br-form-control br-options="{{$ctrl.options|json}}">
  <br-form-control-content>
    <div class="br-select br-form-control-content {{brInputCtrl.options.class}}"
      br-tooltip="{{$ctrl.options.tooltip.text}}"
      br-options="$ctrl.options.tooltip">
      <ui-select ng-model="$ctrl.selection.selected" theme="bootstrap"
        ng-disabled="$ctrl.options.disabled">
        <ui-select-match class="ui-select-match"
          placeholder="{{$ctrl.options.placeholder}}">{{$select.selected.display}}</ui-select-match>
        <ui-select-choices class="ui-select-choices"
          repeat="item in $ctrl.viewItems | filter: $select.search">
          <div ng-bind-html="item.display | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </br-form-control-content>
  <br-form-control-help ng-if="$ctrl.options.help">
    <div ng-transclude></div>
    <div ng-transclude="br-select-help"></div>
  </br-form-control-help>
  <br-form-control-validation-errors ng-if="$ctrl.options.showValidation">
    <div ng-transclude="br-select-validation-errors"></div>
  </br-form-control-validation-errors>
</br-form-control>
