<div ng-if="$ctrl.options.theme === 'material' && $ctrl.options.autocomplete"
  class="br-theme-material">
  <md-autocomplete style="width: 100%"
    ng-class="{
      'md-icon-left': $ctrl.options.icon
    }"
    ng-disabled="$ctrl.options.disabled"
    md-input-name="{{$ctrl.options.name}}"
    md-no-cache="$ctrl.options.noCache"
    md-selected-item="$ctrl.selection.selected"
    md-search-text-change="$ctrl.onSearchTextChange($ctrl.searchText)"
    md-search-text="$ctrl.searchText"
    md-selected-item-change="$ctrl.onSelectItem(item)"
    md-items="item in $ctrl.filterItems($ctrl.searchText)"
    md-item-text="item.display"
    md-min-length="0"
    ng-attr-required="{{$ctrl.options.required}}"
    xng-attr-placeholder="{{$ctrl.options.placeholder}}"
    ng-attr-md-floating-label="{{$ctrl.options.label || $ctrl.options.placeholder}}"
    ng-focus="$ctrl.onFocus()"
    ng-blur="$ctrl.helpVisible=false"
    md-menu-class="{{$ctrl.options.classes.menu}}">
    <md-item-template>
      <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
      <!--<div ng-bind-html="item.display"></div>-->
    </md-item-template>
    <md-not-found>
      No matches found
    </md-not-found>
    <div ng-show="$ctrl.options.help && $ctrl.helpVisible"
      class="help-block br-fadein br-fadeout">
      <div class="text-muted" br-late-transclude="br-select-help"></div>
    </div>
    <div ng-show="$ctrl.validation.isVisible()">
      <div class="br-form-control-validation-errors"
        br-late-transclude="br-select-validation-errors"></div>
    </div>
  </md-autocomplete>
</div>
<br-form-control ng-if="!$ctrl.options.autocomplete"
  br-options="{{$ctrl.options|json}}">
  <br-form-control-content ng-if="$ctrl.options.theme === 'material'"
    class="br-theme-material">
    <md-select ng-model="$ctrl.selection.selected"
      md-on-close="$ctrl.searchText = ''"
      ng-disabled="$ctrl.options.disabled"
      ng-attr-placeholder="{{$ctrl.options.placeholder}}"
      data-md-container-class="br-select"
      xmd-selected-text="$ctrl.getSelectedText()">
      <md-select-header class="br-select-header">
        <input ng-model="$ctrl.searchText"
          type="search"
          placeholder="Search..."
          ng-keydown="$event.stopPropagation()"
          class="br-select-header-searchbox md-text">
      </md-select-header>
      <md-optgroup label="items">
        <md-option ng-value="item" ng-repeat="item in $ctrl.filterItems($ctrl.searchText)">
          <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-option>
      </md-optgroup>
    </md-select>
  </br-form-control-content>
  <br-form-control-content ng-if="$ctrl.options.theme !== 'material'">
    <div class="br-select br-form-control-content {{brInputCtrl.options.class}}"
      br-tooltip="{{$ctrl.options.tooltip.text}}"
      br-options="$ctrl.options.tooltip">
      <ui-select ng-model="$ctrl.selection.selected" theme="bootstrap"
        ng-disabled="$ctrl.options.disabled">
        <ui-select-match class="ui-select-match"
          placeholder="{{$ctrl.options.placeholder}}">{{$select.selected.display}}</ui-select-match>
        <ui-select-choices class="ui-select-choices"
          repeat="item in $ctrl.viewItems | filter: $select.search">
          <div ng-bind-html="item.display | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </br-form-control-content>
  <br-form-control-help ng-if="$ctrl.options.help">
    <div ng-transclude></div>
    <div ng-transclude="br-select-help"></div>
  </br-form-control-help>
  <br-form-control-validation-errors ng-if="$ctrl.options.showValidation">
    <div ng-transclude="br-select-validation-errors"></div>
  </br-form-control-validation-errors>
</br-form-control>
