<br-form-control br-options="{{brTextAreaCtrl.options|json}}">
  <br-form-control-content>
    <textarea class="form-control
      br-form-control-content br-form-control-content-tall
      {{brTextAreaCtrl.options.class}}"
      rows="{{brTextAreaCtrl.options.rows}}"
      name="{{brTextAreaCtrl.options.name}}"
      placeholder="{{brTextAreaCtrl.options.placeholder}}"
      style="{{brTextAreaCtrl.options.style}}"
      wrap="{{brTextAreaCtrl.options.wrap}}"
      ng-disabled="brTextAreaCtrl.options.disabled"
      ng-readonly="brTextAreaCtrl.options.readonly" />
  </br-form-control-content>
  <br-form-control-help ng-if="brTextAreaCtrl.options.help">
    <div ng-transclude></div>
    <div ng-transclude="br-textarea-help"></div>
  </br-form-control-help>
  <br-form-control-validation-errors ng-if="brTextAreaCtrl.options.showValidation">
    <div ng-transclude="br-textarea-validation-errors">
      An error was detected in the input above.
    </div>
  </br-form-control-validation-errors>
</br-form-control>
