{% extends 'layout.html' %}

{% set pageTitle = "Test" %}

{% block content %}

{% raw %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2 class="headline">Test</h2>
    <p>
      bedrock-angular-form test page.
    </p>
    <div ng-controller="brTestFormController as model">
      <br-form
        br-model="model.doc"
        br-groups="model.groups"
        br-options="{editable: false}"></br-form>
      <br-form
        br-model="model.doc"
        br-groups="model.groups"
        br-options="{editable: true}"></br-form>
    </div>
  </div>
</div>

{% endraw %}
{% endblock %}
